<header class="app-header">
  <mat-toolbar>
    <img src="assets/imagens/logo.png" alt="Logo da aplicação Jornada" />
    <span class="spacer"></span>
    <button mat-button>Vender milhas</button>
    <button mat-button>Sobre</button>
    <button mat-raised-button color="primary">CADASTRE-SE</button>
    <button mat-stroked-button>LOGIN</button>
  </mat-toolbar>
</header>

<!--
Diferentes tipos de botões no angular material

ATRIBUTO                 DESCRIÇÃO
mat-button -> Botão de texto retangular sem elevação
mat-raised-button -> Botão contido retangular com elevação
mat-flat-button	-> Botão contido retangular sem elevação
mat-stroked-button	-> Botão delineado retangular sem elevação
mat-icon-button	-> Botão circular com um fundo transparente, destinado a conter um ícone
mat-fab	-> Botão circular com elevação, padrão para a cor “accent” do tema
mat-mini-fab -> O mesmo que o mat-fab, mas menor
-->
