<ng-content></ng-content>

<!--
O ng-content é uma diretiva do Angular que permite a criação de componentes flexíveis
e reutilizáveis, capazes de receber e exibir conteúdo dinâmico. É uma ferramenta
poderosa para criar componentes genéricos que podem se adaptar a diferentes necessidades
de conteúdo.
 Permite a criação de pontos de inserção de conteúdo dinâmico em diversos tipos de componentes.
 Quando chamar o conponente containerComponent tudo o que estiver entre as suas tags serão renderizados aqui.
-->
